
@font-face {
    font-family:"ADLMounTiane";
    src:url("ADLMounTiane.woff2") format("woff2"),url("ADLMounTiane.woff") format("woff"),url("ADLMounTiane.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        