
@font-face {
    font-family:"CoreSansC-35LightIt";
    src:url("S-Core - CoreSansC-35LightIt.woff2") format("woff2"),url("S-Core - CoreSansC-35LightIt.woff") format("woff"),url("S-Core - CoreSansC-35LightIt.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        