@import "../sass/mixins.scss";

header {
    overflow: hidden;
    padding-bottom: 18px;
    text-transform: uppercase;
    width: 100%;
    

    h1 {
        font-weight: fw(medium);
        text-align: center;
    }

    a {
        color: color(black);
    }

    b {
        font-weight: fw(black);
    }

    i {
        font-style: normal;
        font-weight: fw(light);
    }

    &.home {
        @include center;
        background: none;
        bottom: auto;
        height: auto;
        right: auto;
        width: 95%;
        z-index: 100;

        a {
            color: color(white);
        }
    }
}