@import "../sass/mixins.scss";

footer {
    color: color(black);
    padding: toRem(35) toRem(50);
    text-align: center;
    width: 100%;
    z-index: 100;

    p {
        margin: 0;
    }

    span {
        font-weight: fw(black);
        text-transform: uppercase;
    }

    .copyright {
        margin-bottom: 1rem;
        text-transform: uppercase;

        p {
            font-size: toRem(12);
        }
    }

    @include respond-to(small) {
        .copyright {
            float: left;
            margin-bottom: 0;
        }
    
        .stinger {
            float: right;
        }
    }

    &.home {
        background: none;
        bottom: 0;
        color: color(white);
        height: auto;

        position: absolute;
        width: 100%;
    }
}